h1, h2, h3, h4, h5, h6 {
    color: rgb(119, 107, 54);
}

a {
    color: #00ffbb;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

table.changelog-table tr {
    vertical-align: top;
}

pre.changelog {
    color: lime;
}
